@import "variables";
@import "mixins";

.test-border{
  border :1px solid black;
}
html {

}
/*Body layout*/
body{
  @include bodyLayout;

}

/*Headers layout*/
h1,h2,h3,h4,h5,h6{
  @include niceHeaders;
}

h1{
  font-size: 3em;
}

h1,h2{
  margin: 10px 0 40px;
}

h3{
  margin: 20px 0;
}

.img-logo{
  width:200px;

}

/*Hero-------*/
#hero{
  @include hero;
  @include  sexyText;
  .hero-text{
    margin-top: 30px;
  }
}

#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}


.price-timeline {
  padding: 14px;
  text-align: center;
}

.price {
  vertical-align: top;
  background-color: $bluegray;
  position: relative;
  display: inline-block;
  padding-bottom: 50px;
  box-sizing: border-box;
  max-height: 100px;
}

.btn{
  font-weight: bold;
}

.btn-danger{
  border-color: white;
  background-color: $orange;
}

.price-sphere{
  @include price-sphere;
}

#quoteLine {
  padding: 15px;
  background-color: $bluegray;
  max-height: 72px;
  color: white;
  @include  sexyText;
  font-size: 1.2em;
}


.lead{
 margin-top: 8px;
}

#whatIsWordpress{
  padding-top: 20px;
}

button, input, .btn, a.btn{
  @include sexyText;
  color: white;
}



/* Small screens layout*/
@include small-screens{
  .price{
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }


}

/* Apple and medium screens layout*/
@include apple-and-medium-screens{
  .align-center{
    text-align: center;

  }
  .price{
    display: inline-block;
    width: 30%;
    max-height: 115px;
    margin-bottom: 50px;

    .price-sphere{
      margin-left: -50px;
      font-size: 14px;
      width: 100px;
    }
  }

  .img-logo{
    width:190px;
    margin-left:20px;
  }


  #quoteLine{
    max-height: 90px;
    padding: 10px;
    @extend .align-center;
  }

  .lead{
    margin-top: 0px;
  }
}
/* Large screens layout*/
@include large-screens{
  .price{
    display: inline-block;
    width: 30%;

  }
  #quoteLine{
    text-align: center;
  }

  #whatIsWordpress{
    margin-top: 40px;
  }
  .lead{
    margin-top: 0px;
  }
}

@include xlarge-screens{
  .price{
    max-height: 90px;
  }
}







.logo{
  width: 400px;
}



